* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  border: rgb(117, 117, 10) solid;
  margin: 20px;
  text-shadow: 1px 1px 20px black;
}

.box {
  margin: 20px auto;
  text-align: center;
  border: solid 2px;
  height: 10vw;
  width: 800px;
  box-shadow: -13px 9px 20px 9px;
}
.box1 {
  background-color: pink;
  border-radius: 15px;
  /* position: absolute; */zzWSs
  z-index: 1;
  /* z-index: 0; */
}
.box2 {
  /* position: relative; */
  /* bottom: 80px; */
}
.box3 {
  border: red solid;
}
.box4 {
  background-color: lightblue;
}

.parent{

    margin: 10px;
    border: solid red;
}