div {
  background-color: #f13939;
}
/* here the div is is a class so the Background is changed of all divs */
/* and the nddiv is also a div but it has an ID so its can be selected by the name nddiv */
#Id_div {
  background-color: #d28888;
}
.class_div {
  background-color: rgb(83, 178, 70);
}
/* this is clalled Univeral selector */
* {
  margin: 0px;
  padding: 0px;
}
/* this is called the Decrement selctor in this it will see the child where the child is and apply the color to it at any position. */
div p{
    background-color: #e44040;
}
/* child selector */
div > p{
    background-color: rgb(221, 119, 136);
}

