body {
  background-color: green;
  border: solid rgb(186, 250, 9) 2px;
  border-radius: 20px;
  margin: 40px;
  padding: 20px;
  align-items: center;
  text-align: center;
  .box {
    background-color: rgb(211, 17, 49);
    width: 420px;
    height: 220px;
    display: flex;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 400px) {
  body {
    background-color: rgb(2, 246, 152);
    border: solid rgb(10, 10, 10) 2px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

    .box {
      background-color: pink;
      width: 420px;
      height: 220px;
      display: flex;
      flex-direction: column;
    }
  }
}

.box {
  border: 2px solid rgb(233, 154, 129);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
